.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: Graphik, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.home-page {
  background-image: url(./assets/World.png)!important;
  background-size: contain!important;
  background-attachment: inherit!important;
  background-repeat: no-repeat!important;

} */
.tracking-div {
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 4px;
  /* box-shadow: 3px 5px 5px 0px #c2c2c2;
  border-top: 4px solid green; */
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
}

.login-div {
  margin: 0 auto;
  text-align: center;
  padding:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  box-shadow: 2px 4px 9px 0px #9f9f9f;
  border-top: 4px solid green;
  border-radius:4px;
  margin-top:-10%;
  background:white
}

#basic {
  width: 100%!important;

}

.home-nav {
  height:20%;
  background:  linear-gradient(90deg, #11FFBD 0%, #AAFFA9 100%);
}

.home-page {
  margin-top: -15%;
  background:transparent!important;
}